div.header {
    width: 960px;
    height: 200px;
    border: 1px solid #233F9A;
    border-radius: 10px;
    margin: 0 auto;
}

div.cat_menu_line_container {
    width: 960px;
    height: 50px;
    margin: 20px 0;
    position: fixed;
}

.cat_menu_line_item {
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 2px;
    cursor: pointer;
    position: fixed;
    left: 510px;
    top: -60px;
    z-index: 1;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

div.main_menu_container {
    width: 580px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

div.main_menu_item {
    float: left;
    margin: 0 20px;
    font-size: 18px;
    color: blue;
    cursor: pointer;
}

p.slogan {
    width: 450px;
    height: 35px;
    margin: 30px auto;
    margin-top: 90px;
    text-align: center;
    font-size: 34px;
}

div#cat1 {
    background: #fff url(../images/menu/car45.png) center no-repeat;
    /*margin-left: 71px;*/
}

div#cat2 {
    background: #fff url(../images/menu/media45.png) center no-repeat;
}

div#cat3 {
    background: #fff url(../images/menu/home45.png) center no-repeat;
}

div#cat4 {
    background: #fff url(../images/menu/electr45.png) center no-repeat;
}

div#cat5 {
    background: #fff url(../images/menu/useful45.png) center no-repeat;
}

div#cat6 {
    background: #fff url(../images/menu/cell45.png) center no-repeat;
}

div#cat7 {
    background: #fff url(../images/menu/tools45.png) center no-repeat;
}

div#cat8 {
    background: #fff url(../images/menu/pc45.png) center no-repeat;
}

div#cat9 {
    background: #fff url(../images/menu/shoes45.png) center no-repeat;
}

div#cat10 {
    background: #fff url(../images/menu/dress45.png) center no-repeat;
}

div#cat11 {
    background: #fff url(../images/menu/sport45.png) center no-repeat;
}

div#cat12 {
    background: #fff url(../images/menu/tap45.png) center no-repeat;
}

div#cat13 {
    background: #fff url(../images/menu/lamp45.png) center no-repeat;
}

div#cat14 {
    background: #fff url(../images/menu/access45.png) center no-repeat;
}

div#cat15 {
    background: #fff url(../images/menu/furniture45.png) center no-repeat;
}

div#cat16 {
    background: #fff url(../images/menu/tech45.png) center no-repeat;
}

div#cat1:hover {
    background: #fff url(../images/menu/car64.png) center no-repeat;
}

div#cat2:hover {
    background: #fff url(../images/menu/media64.png) center no-repeat;
}

div#cat3:hover {
    background: #fff url(../images/menu/home64.png) center no-repeat;
}

div#cat4:hover {
    background: #fff url(../images/menu/electr64.png) center no-repeat;
}

div#cat5:hover {
    background: #fff url(../images/menu/useful64.png) center no-repeat;
}

div#cat6:hover {
    background: #fff url(../images/menu/cell64.png) center no-repeat;
}

div#cat7:hover {
    background: #fff url(../images/menu/tools64.png) center no-repeat;
}

div#cat8:hover {
    background: #fff url(../images/menu/pc64.png) center no-repeat;
}

div#cat9:hover {
    background: #fff url(../images/menu/shoes64.png) center no-repeat;
}

div#cat10:hover {
    background: #fff url(../images/menu/dress64.png) center no-repeat;
}

div#cat11:hover {
    background: #fff url(../images/menu/sport64.png) center no-repeat;
}

div#cat12:hover {
    background: #fff url(../images/menu/tap64.png) center no-repeat;
}

div#cat13:hover {
    background: #fff url(../images/menu/lamp64.png) center no-repeat;
}

div#cat14:hover {
    background: #fff url(../images/menu/access64.png) center no-repeat;
}

div#cat15:hover {
    background: #fff url(../images/menu/furniture64.png) center no-repeat;
}

div#cat16:hover {
    background: #fff url(../images/menu/tech64.png) center no-repeat;
}

div.cat_descriptions {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

div.cat_descriptions p {
    display: none;
    opacity: 0;
}